.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    opacity: 80%;
    margin-bottom: 2.5rem;
    /* justify-content: space-around;
    align-items: center; */
}

.image-gallery img {
    width: 225px;
    height: 225px;
    border-radius: 20px;
}

.image-item {
    flex: 1;
    text-align: center;
    padding: 15px;
    background-color: #120c2581;
    border-radius: 20px;
}

.image-item h4 {
    font-size: 1.3rem;
    font-weight: bold;
    color: #c78cfb;
}

.image-item p {
    margin-top: 10px;
    font-size: 1.1rem;
    /* color: bisque; */
}